/* formatting for images in the examples in the report guide */
.report-guide-img {
    border: 0.5px solid black;
    display: block;
}

.custom-no-v-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* This targets the standard output containers in Jupyter Book 2 */
/* to limit the height of output cells and add a scrollbar */
.myst-jp-stream-output {
    max-height: 400px;
    overflow-y: auto !important;
    display: block !important;
}

.myst-jp-safe-output-text {
    max-height: 400px;
    overflow-y: auto !important;
    display: block !important;
}

/* This targets the code cell containers in Jupyter Book 2 */
/* to limit the height of output cells and add a scrollbar */
pre.myst-code-body {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}


.myst-jp-nb-block p{
    margin-top: 0px;
    margin-bottom: 0px;
}

